<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <!--<session-factory>    这里的内容放到了spring的配置文件中
    <property name="connection.url">jdbc:mysql://localhost:3306/test</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    &lt;!&ndash;显示sql语句和优化sql语句&ndash;&gt;
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>

    &lt;!&ndash;引入映射文件&ndash;&gt;
    <mapping resource="com/ssii/pojo/Fee.hbm.xml"/>
    <mapping resource="com/ssii/pojo/Role.hbm.xml"/>
    <mapping resource="com/ssii/pojo/AdminInfo.hbm.xml"/>
    &lt;!&ndash; DB schema will be updated if needed &ndash;&gt;
    &lt;!&ndash; <property name="hibernate.hbm2ddl.auto">update</property> &ndash;&gt;
  </session-factory>-->
</hibernate-configuration>